
@{
    ViewData["Title"] = "欢迎登录";
}

<h2>欢迎登录星辰无限平台</h2><br />
<h3 style="color:red">测试权限的同学【禁止用admin用户测试，不得将admin用户禁用】</h3>
<h4 style="color:chartreuse">建议新建角色/新建用户/分配权限测试</h4>
<div>
    <b style="color:red;font-size:18px">注意</b><br>
    <b>本项目采用Asp.Net Core+EF core开发</b><br>
    <b>前端采用BootStarp+Angular~SPA</b><br>
    <ul>该项目即将用到我给一个朋友开发的商业项目上</ul>
    <ul>分享出来的这部分属于一个通用的权限管理模块</ul>
    <ul>后期我会在我都Blog 上分享该项目</ul>
    <img src="~/images/weixin/weixin_zs.jpg" width="400" height="400" />
</div>
<div style="margin-top:100px">
    <b>Blog地址如下：</b><br>
    <a href="http://wwww.cnblogs.com/gdsblog">Blog分享地址，点击进入</a><br>
    <b>本人微信公众号</b><br>
    <img src="~/images/weixin/weixin_gz.png" />
</div>