
@{
    ViewData["Title"] = "广告管理";
}
<style>
    .form-inline .col-sm-12 {
        line-height: 55px;
    }

    .form-inline .col-sm-2 {
        width: 80px;
    }

    .form-inline .col-sm-4 .col-sm-4 {
        line-height: 35px;
    }

    .form-inline .control-label {
        text-align: right;
    }

    .search .form-inline {
        line-height: 40px;
    }
</style>

<div class="row search">
    <div class="form-inline">
        <div class="form-inline">
            <input type="text" class="form-control" placeholder="广告名称：" ng-model="search.adName" />
        </div>
        <div class="form-inline">
            <label control-label>广告位置:</label>
            <select class="form-control" style="display:inline-block;width:auto;" ng-model="search.adLocation">
                <option value="-1">全部</option>
                @foreach (var type in TB.AspNetCore.Infrastructrue.Extensions.JsonExtensions.GetStrings<TB.AspNetCore.Domain.Enums.AdLocation>())
                {
                    <option value="@type.Item1">@type.Item2</option>
                }
            </select>
        </div>

        <button class="btn btn-primary" type="button" ng-click="pageChanged(true)">搜索</button>
    </div>
    <br />
    <div class="form-inline">
        <a class="btn btn-primary" href="/SysSetting/AdPicAdd_Updata">添加广告</a>
    </div>
</div>
<table class="table table-hover table-condensed table-bordered" style="width:auto;">
    <thead>
        <tr style="height:35px;">
            <th style="width: 3%;">序号</th>
            <th style="width: 5%;">广告名称</th>
            <th style="width: 5%;">广告位置</th>
            <th style="width: 5%;">开始时间</th>
            <th style="width: 5%;">结束时间</th>
            <th style="width: 5%;">广告状态</th>
            <th style="width: 7%;">操作</th>
        </tr>
    </thead>
    <tbody class="wait-loaded">
        <tr ng-repeat="m in List">
            <td>{{$index+1}}</td>
            <td>{{m.adName}}</td>
            <td>{{m.adLocationName}}</td>
            <td>{{formDate(m.beginTime)|date:'yyyy-MM-dd'}}</td>
            <td>{{formDate(m.endTime)|date:'yyyy-MM-dd'}}</td>
            <td>{{m.isEnable==0?"禁用":"启用"}}</td>
            <td>
                <a ng-click="addAdPic(m)" href="javascript:void(0);">编辑</a>|
                <a ng-click="delAdPic(m)" href="javascript:void(0);">删除</a>|
                <a ng-click="IsEnableAdPic(m)" href="javascript:void(0);">{{m.isEnable==0?"启用":"禁用"}}</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="mypager wait-loaded">
    <ul uib-pagination total-items="search.recordCount" items-per-page="search.pageSize" ng-change="pageChanged()" ng-model="search.pageIndex" max-size="7"
        class="pagination-sm" boundary-links="true" num-pages="search.numPages" boundary-link-numbers="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></ul>
    <div class="recordCount">共 {{search.recordCount}} 条</div>
</div>
@section Scripts{
    <script type="text/javascript">
        $angular.add(function ($scope, $query, $timeout, $sce) {
            $scope.formDate = function (date) {
                return formDate(date);
            }
            $scope.search = { pageIndex: 1, pageSize: 10, gender: "-1", order: 1 };
            $scope.setOrder = function (index) {
                if (index == Math.abs($scope.search.order)) {
                    index = -$scope.search.order;
                }
                $scope.search.order = index;
                $scope.pageChanged(true);
            };
            $scope.pageChanged = function (reindex) {
                if (reindex) {
                    $scope.search.pageIndex = 1;
                }
                $query.post("/webapi/AdManagerList", $scope.search, function (response) {
                    if (response.status === 200) {
                        $scope.List = response.data;
                        $scope.search.recordCount = response.recordCount;
                    } else {
                        $Alert(response.message);
                    }
                });
            };
            $scope.delAdPic = function (model) {
                $Confirm("你确定要删除该广告吗?", function () {
                    $query.post("/webapi/DelAdPic", model, function (response) {
                        if (response.status === 200) {
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "消息提醒");
            };
            //编辑
            $scope.addAdPic = function (model) {
                location.href = $url("/SysSetting/AdPicAdd_Updata?id=" + model.id);
            };

            //禁用启用
            $scope.IsEnableAdPic = function (model) {
                $query.post("/webapi/IsEnableAdPic", model, function (response) {
                    if (response.status === 200) {
                        $scope.pageChanged();
                        $Alert(response.message);
                    } else {
                        $Alert(response.message);
                    }
                });
            };

            $scope.search.adLocation = "-1";
            $scope.pageChanged();
        });
    </script>

}

